 /* Estilos padrão (modo claro) */
 body {
    background-color: #85b5db;
    color: #000000;
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background 3s, color 0.3s;
}

/* Modo escuro */
body.dark-mode {
    background-color: #2d5578;
    color: #f5f5f5;
}

/* Estilo do botão */
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    color: #27187e;
    transition: background 0.3s, color 0.3s;
}

button.dark-mode {
    background-color: #fff;
    color: #27187e;
}