body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #85b5db;
}
a{
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-size: large;
   text-align: center;
   margin-top: 25px;
   color: #27187e;
}
.novo{
    border: 1px solid black;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cabeca{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center ; 
}
.entrada{
    width: 100%;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
    border: #000000;
    box-shadow: 4px 5px 4px;
    padding: 15px;
}
.campo{
    display: flex;
    flex-direction:column;
    justify-content: right;
    align-items: center;
    font-size: 18px; 
    gap: 15px;
    margin-bottom: 30px;
}
#button{
    width: 200px;
    height: 50px;
    margin-left: 15%;
    font-size: 20px;
    border-radius: 5px;
    color: #fff;
    border: #3987d0;
    background-color:#3987d0;
}
#vago{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 gap: 10px;
}